.filters {
  display: flex;
  gap: 8px;
  margin: 8px 0 12px;
}
.filter-btn {
  border: 1px solid var(--border);
  background: transparent;
  color: var(--text);
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
}
.filter-btn[aria-selected="true"] {
  background: var(--accent);
  color: #fff;
  border-color: var(--accent);
}

.filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sorts {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin: 8px 0 12px 0;
}
.sort-btn,
.sort-reset,
.date-btn {
  border: 1px solid var(--border);
  background: transparent;
  color: var(--text);
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.sort-reset {
  background-color: rgba(255, 0, 0, 0.698);
  color: var(--text);
}

.sort-btn[aria-selected="true"] {
  background: var(--accent);
  color: #fff;
  border-color: var(--accent);
}

.date-btn[aria-selected="true"] {
  background: var(--accent);
  color: #fff;
  border-color: var(--accent);
}
